.form-container {
    background-color: #48054e;
    color: #E6E72E;
    border: 1px solid rgba(75, 19, 12, 1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .form-heading {
    color: #00FFFF;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
    border: 1px solid rgba(75, 19, 12, 1);
    border-radius: 8px;
    display: flex;
  }
  
  .input-group label {
    display: block;
    margin: 15px;
    /* margin: 15px, 20px, 50px, -50px; */

  }
  
  input[type="range"] {
    width: 100%;
    /* margin: 15px, 0px, 0px, 50px; */
  }
  
  span {
    display: inline-block;
    margin-left: 10px;
    color: #E6E72E;
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #E6E72E;
    border-radius: 4px;
    background-color: #3d3275;
    color: #E6E72E;
  }
  
.button-container {
  margin-top: 20px;
}

button {
  background-color: #480;
  color: #E6E72E;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #3d3275;
}
