.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #01013e;
  color: #00FFFF;
  padding: 10px;
  border-radius: 8px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.calculator-section,
.results-section {
  box-sizing: border-box;
}

.calculator-section {
  width: 60%; /* Adjust as needed */
  background-color: #265892;
  color: #E6E72E;
  border: 1px solid rgba(75, 19, 12, 1);
  padding: 20px;
  margin-right: 10px; /* Adjust spacing between calculator and results */
  border-radius: 8px;

transition: transform 0.3s ease-in-out;
}

.calculator-section:hover {
  transform: scale(1.09); /* Enlarge on hover */
}


.results-section {
  width: 40%; /* Adjust as needed */
  background-color: #a47aac;
  color: #033062;
  border: 1px solid #E6E72E;
  padding: 20px;
  border-radius: 8px;

transition: transform 0.3s ease-in-out;

}

.results-section:hover {
  transform: scale(1.1); /* Enlarge on hover */
}